
.card {
    background-color: white;
    width: 300px;
    height: 300px;
    border-radius: 30px;
    z-index: 1;

}

.card .topo {
    background-color: green;
    height: 34%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.card img {
    width: 125px;
    height: 125px;
    position: relative;
    border-radius: 80px;
    top: 20px;
}

.rodape {
    background-color: #FFFFFF;
    padding-top: 35%;
    border-radius: 0px 0px 10px 10px;
}



.rodape h4 {
    color: #6278F7;
    margin: 0px;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    word-break: break-all;

}

.rodape h5 {
    margin: 0px; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.rodape h6 {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  margin-block-end: auto;
}


.gradient-border {
    --border-width: 3px;
    position: relative;
    background: #222;
    border-radius: var(--border-width);
  }
  .gradient-border::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(60deg, #a65ff2, #f25fd0,#f2cb5f,#5ff2f0);
    background-size: 300% 300%;
    background-position: 0 100%;
    border-radius: 10px;
    animation: moveGradient 4s alternate infinite;
  }
  
  @keyframes moveGradient {
    50% {
      background-position: 100% 50%;
    }
  }

.deletar {
  position: absolute;
  right: -5px;
  top: -25px;
  color: white;
}



  



