.time {
    text-align: center;
    padding: 20px 4vw;
}

.time h3 {
    font-size: 32px;
    border-bottom: 4px solid ;
    padding-bottom: 8px;
    display: inline-block;
    font-family: 'Prata', serif;
    font-weight: 400;
}