.Button {
    margin-top: 10px;
    background-color: transparent;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    cursor: pointer;
}

.Button:hover {
    color: #191919;
}



